body {
    text-align: center;

}



.menu {
    list-style: none;
    font-family: fantasy;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;

}

#myname {
    font-family: fantasy;

}



h1 {
    color: navy;
    font-family: sans-serif;
}

h2 {
    color: aliceblue;
    font-family: monospace;
}
